.sidebar-outerframe {
  display: grid;
  grid-template-columns: 140px;
  grid-template-rows: 250px 40px 40px auto;
  height: 90vh;
  background-color: lightgrey;
}

.sidebar-title {
  font-size: 14px;
  text-align: right;
}

.sidebar-city {
  padding: 25px 50px 30px 0px;
  text-align: right;
}

.sidebar-today-frame {
  padding-top: 50px;
  text-align: right;
}
.sidebar-time-frame {
  padding: 15px 0;
  text-align: right;
}

.sidebar-button {
  text-align: right;
}

.sidebar-button-today {
  text-align: right;
}

/* ----------- iPhone X ----------- */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { */
@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .sidebar-outerframe {
    display: grid;
    grid-template-columns: 110px 130px 130px;
    grid-template-rows: 60px;
    height: 0px;
    background-color: lightgrey;
  }
  .sidebar-todayPlustime-frame {

    place-self: center;
  }
  
  .sidebar-button {
    place-self: center;
  }
  
  .sidebar-button-today {
  
    place-self: center;
  }

  .sidebar-today-frame {
    padding-top: 3px;
    text-align: right;
    font-size: 12px;
  }
  
  .sidebar-time-frame {
    padding: 5px 0;
    text-align: right;
    font-size: 12px;
  }

}

* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
