.sidebar-outerframe {
  /* border: 1px solid #808080; */
}

.sidebar-title {
  font-size: 14px;
  width: 150px;
  text-align: right;
  padding: 15px 10px 20px 30px;
}

.sidebar-city {
  padding: 25px 50px 30px 0px;
  text-align: right;
}

.sidebar-today-frame {
  padding: 5px 50px;
  text-align: right;
}
.sidebar-time-frame {
  padding: 3px 50px;
  text-align: right;
}

.sidebar-button {
  padding: 40px;
  margin: 15px;
}
