.current-outerframe {
  padding: 10px 0 0 80px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 110px 120px 150px;
  height: 300px;
}

.current-city {
  color: #00008b;
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
  align-self: center;
}

.current-icontemp {
  display: grid;
  grid-template-columns: 120px 150px;
  grid-template-rows: 110px;
  height: 140px;
  align-self: center;
}

.current-temp-frame {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 50px 25px 25px 25px;
  height: 100px;
  place-self: center;
}

.current-temp {
  justify-self: start;
  font-size: 56px;
  color: #000fff;
  place-self: center;
}
.current-feelsLike {
  font-size: 18px;
}

.current-humidity {
  font-size: 18px;
}
.current-weather-icon {
  font-size: 18px;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .current-city {
    font-size: 28px;
  }

  .current-temp {
    font-size: 38px;
  }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .current-outerframe {
    padding: 0;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 110px 120px 200px;
    height: 360px;
  }
}
