.weatherForecast-current-frame {
  padding: 10px 80px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 80px 100px;
}

.weatherForecast-icontemp {
  display: grid;
  grid-template-columns: 80px 150px;
  grid-template-rows: 80px;
  height: 100px;
}

.weatherForecast-current-temp {
  font-size: 50px;
  color: #000fff;
  font-weight: bold;
}

.weatherForecast-city {
  color: #00008b;
  font-size: 32px;
  font-weight: bold;
  align-self: center;
}

.weatherForecast-outerframe {
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px;
  grid-template-rows: 160px;
}

.forecast-frame {
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: 30px 30px 30px 20px;
  place-self: center;
}

.forecast-date {
  font-weight: bold;
  font-size: 16px;
  justify-self: center;
  color: black;
  text-decoration: underline;
  /* background-color: lightblue; */
}
.forecast-temp {
  font-size: 16px;
  place-self: center;
  font-weight: bold;
}
.forecast-feelslike {
  font-size: 12px;
  place-self: center;
}
.forecast-sky {
  font-size: 12px;
  text-align: center;
  padding: 0;
  place-self: center;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .weatherForecast-current-frame {
    grid-template-columns: 200px;
    grid-template-rows: 80px 100px;
  }
  .weatherForecast-city {
    font-size: 28px;
  }
  .weatherForecast-current-temp {
    font-size: 38px;
  }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .weatherForecast-current-frame {
    grid-template-columns: 200px;
    grid-template-rows: 80px 100px;
  }

  .weatherForecast-outerframe {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px;
    grid-template-rows: 200px;
  }

  .forecast-feelslike {
    font-size: 10px;
    place-self: center;
  }
}
