*{
  margin: 0;
}

.body-frame {
  display: grid;
  grid-template-columns: 160px 4fr;
  grid-template-rows: 80px;
  height: 500px;
}

.sidebar-frame {

  /* margin-top: 60px; */
}

.footer-frame {
background-color: blue;
  text-align: center;
  color: white;
}