*{
  margin: 0;
}

.app-body-frame {
  display: grid;
  grid-template-columns: 160px 4fr;
  grid-template-rows: 80px;
  height: 500px;
}

.app-sidebar-frame {

  /* margin-top: 60px; */
}

.app-footer-frame {
background-color: blue;
  text-align: center;
  color: white;
  height: 30px;
  padding-top: 10px;
}